.component {
    margin-top: map-get($spacers,5);
}

.span-page {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

body {
	background-color: #F7F0F5 !important;
}