header {

    #site-navigation {
        .site-branding {
            .site-title {
                margin-bottom: 0;
            }
            .custom-logo {
                max-height: 75px;
                width: auto;
            }
        }
        #primary-nav-menu {
            .active {
                .nav-link {
                    color: $orange;

                }
            }
            .dropdown-menu-dark .dropdown-item:focus, .dropdown-menu-dark .dropdown-item:hover {
                background-color: $orange;
            }
            .dropdown-menu-dark {
                background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
                .active {
                    .dropdown-item {
                        color: $orange;
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

}